body {
  background: url("/src/img/roomBackground.jpg") no-repeat;
  background-position: left top;
  animation: backGroundMove 40s infinite linear;
  animation-direction: alternate;
}
input,
button {
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 2px -2px 10px black, -2px 2px 10px black;
}

input:focus {
  padding: 7px;
}

button:hover {
  padding: 5px 17px 5px;
}

@keyframes backGroundMove {
  from {
    background-position: left top;
  }
  to {
    background-position: right top;
  }
}
