.login-sheet-on {
  font-size: min(5.5vw, 30px);
  font-weight: bold;
  text-align: center;
}
.login-sheet-off {
  display: none;
}
.login-welcome {
  font-family: "Brush Script MT";
  font-weight: 200;
  text-shadow: 3px 3px 4px rgb(58, 55, 55);
}

.login-login {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
