.login-welcome {
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -2px;
  margin-bottom: -2px;
}

.login-login {
  margin-bottom: -2px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login-sheet-on {
  font-size: 20px;
  font-weight: bold;
}
.login-sheet-off {
  display: none;
  font-size: 20px;
  font-weight: bold;
}
.user-buttons:hover {
  background-color: rgb(155, 212, 155);
}
