.toggle-button {
  font-size: 25px;
  min-width: 73px;
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
}

.status {
  margin-bottom: 10px;
}

/* .kbd-navigation .square:focus {
  background: rgb(182, 6, 6);
} */

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.game-player {
  font-weight: bold;
  text-align: center;
  margin-left: 20px;
  font-size: 35px;
}

.game-numbers {
  font-size: 25px;
  font-weight: bold;
}
.game-moves,
.game-restart {
  font-size: 25px;
  height: 35px;
}
