.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  width: 100%;
  margin-left: 10px;
  background-color: aqua;
}

.game-player {
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  font-size: 35px;
}

.game-restart {
  font-size: 25px;
  height: 35px;
}
