.square {
  background: rgb(248, 244, 244);
  border: 1.5px solid #999;
  float: left;
  font-size: 65px;
  font-weight: normal;
  line-height: 34px;
  height: 70px;
  width: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
  background: rgb(247, 193, 112);
}

.square:hover {
  background: rgb(129, 203, 252);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  min-width: 100px;
}

.game-board {
  padding-top: 20px;
  min-width: 210px;
}
