.join-welcome {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -2px;
  margin-bottom: -2px;
}

.container {
  position: relative;
  width: 600px;
  font-size: 20px;
  font-weight: bold;
}

.container .box {
  position: relative;
  float: left;
  width: 220px;
  min-height: 220px;
  border: 10px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}
/* .container .off-line-users {
  position: relative;
  float: right;
  width: 150px;
  min-height: 150px;
  border: 10px solid black;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
} */
