.join-sheet-off {
  display: none;
}

.join-welcome {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -2px;
  margin-bottom: -2px;
}

.container {
  position: relative;
  width: 600px;
  font-size: 20px;
  font-weight: bold;
}

.container .box {
  position: relative;
  float: left;
  width: 220px;
  min-height: 220px;
  border: 10px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}

.offline-button {
  background-color: rgb(238, 168, 146);
  margin: 3px;
  padding: 10px;
  font-weight: bold;
  border-radius: 12px;
}

.online-button {
  background-color: rgb(244, 248, 248);
  margin: 3px;
  padding: 10px;
  font-weight: bold;
  border-radius: 12px;
}

.online-button:hover {
  background-color: aquamarine;
  padding: 12px;
  margin: 1px;
}

.logoff-button {
  background-color: rgb(125, 137, 241);
  margin: 3px;
  padding: 10px;
  font-weight: bold;
  border-radius: 12px;
}

.logoff-button:hover {
  background-color: rgb(238, 145, 145);
  padding: 12px;
  margin: 1px;
}
